{% extends 'base.html.twig' %}

{% block title %}OFNI | Mon compte{% endblock %}

{% block main %}

<h1>Mon compte</h1>

{% for flash_success in app.flashes('success') %}
    <div class="alert alert-success" role="alert">{{ flash_success }}</div>
{% endfor %}

<div class="mb-3">
    Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a class="link" href="{{ path('app_logout') }}">Se déconnecter</a>
</div>

{{ form_errors(namesForm) }}

{{ form_start(namesForm) }}
    <h2>Changer votre nom/prénom</h2>

    <p>Vous pouvez changer votre nom et votre prénom.</p>

    {{ form_row(namesForm.name, {
        label: 'Nouveau nom'
    }) }}
    {{ form_row(namesForm.first_name, {
        label: 'Nouveau prénom'
    }) }}
    <button type="submit" name="pseudo_submit" class="btn">Changer mon nom/prénom</button>
{{ form_end(namesForm) }}


{{ form_errors(pseudoForm) }}

{{ form_start(pseudoForm) }}
    <h2>Changer de pseudo</h2>

    <p>Vous pouvez changer votre pseudo.</p>

    {{ form_row(pseudoForm.pseudo, {
        label: 'Nouveau pseudo'
    }) }}
    <button type="submit" name="pseudo_submit" class="btn">Changer mon pseudo</button>
{{ form_end(pseudoForm) }}


{{ form_errors(passwordForm) }}

{{ form_start(passwordForm) }}
    <h2>Changer de mot de passe</h2>

    <p>Vous pouvez changer votre mot de passe.</p>

    {{ form_row(passwordForm.plainPassword.first, {
        label: 'Nouveau mot de passe'
    }) }}
    {{ form_row(passwordForm.plainPassword.second, {
        label: 'Répétez le nouveau mot de passe'
    }) }}
    <button type="submit" name="password_submit" class="btn">Changer mon mot de passe</button>

{{ form_end(passwordForm) }}



{{ form_errors(deleteAccountForm) }}

{{ form_start(deleteAccountForm) }}

    <h2>Zone dangereuse</h2>

    <p>Vous pouvez supprimer votre compte ici. Attention ! Cette action est <em>irréversible.</em></p>

    {{ form_row(deleteAccountForm.delete) }}
{{ form_end(deleteAccountForm) }}

<script>
document.getElementById('deleteAccountForm_delete').addEventListener('click', (e) => {
    if (!confirm('Voulez vous vraiment supprimer votre compte ? \n Vous ne pourrez pas revenir en arrière')) {
        e.preventDefault();
    }
});
</script>

{% endblock %}
