{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}


{{ form_start(registrationForm) }}
    {{ form_row(registrationForm.email) }}
    {{ form_row(registrationForm.password) }}
    {{ form_row(registrationForm.name) }}
    <button class="btn">Register</button>
{{ form_end(registrationForm) }}

{% endblock %}
