{% extends "base.html.twig" %}
{% block title %}OFNI | Instance d'événements{% endblock %}

{% block main %}
    <h1>Instances d'événements - Dashboard</h1>
    <a href="{{ path('event.instance.create') }}">Créer une nouvelle instance</a>
    <table>
        <thead>
            <tr><th>Nom</th><th>Actions</th></tr>
        </thead>
        <tbody>
        {% for instance in instances %}
            <tr>
                <td>{{ instance.name }}</td>
                <td>
                    <a href="{{ path('event.instance.show', { 'id': instance.id, slug: instance.slug }) }}" class="link">Voir</a>
                    <a href="{{ path('event.instance.edit', { 'id': instance.id }) }}" class="link">Modifier</a>
                    <a href="{{ path('event.instance.delete', { 'id': instance.id }) }}" class="link">Supprimer</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
