<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>OFNI | OFNIvaders &#128126;</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        <link rel="stylesheet" href="{{ asset('style.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Faculty+Glyphic&family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>

    <body>
        <canvas id="canvasId"></canvas>

        <div class="game-team-container">
            <h1>&#128126; Space OFNIvaders &#128126;</h1>
            <p>Choisi ton équipe !</p>

            <btn id="btn-bee-start-game" class="btn">Team abeille &#128029;</btn>
            <btn id="btn-duck-start-game" class="btn">Team canard &#129414;</btn>
            <a class="btn-danger" href="{{ path('game') }}">Revenir sur le site</a>
        </div>

        <div class="game-container">
            <h1>&#128126; Space OFNIvaders &#128126;</h1>
            <p>Ton équipe: <span id="team-id"></span><br>
            Ton score: <span id="score">0</span>pts</p>

            <btn id="btn-start-game" class="btn">Relancer une partie</btn>
            <a class="btn-danger" href="{{ path('game') }}">Revenir sur le site</a>
        </div>

        <div class="game-info-container">
            <p>Score: <span id="score-text">0</span>pts</p>
            <p>Level: <span id="level-text">1</span>&#128640;</p>
            <p>Vie: <span id="lives-text">3</span>&#129505;</p>
            <div class="btn" id="quit-button">&#10140;</div>
        </div>

        <div class="game-music-container">
            <div class="btn" id="music-button">&#128266;</div>
        </div>

        <script src="{{ asset('js/game.js') }}"></script>
    </body>
</html>
