<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% block title %}OFNI{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">
        {% block stylesheets %}<link rel="stylesheet" href="{{ asset('style.css') }}">{% endblock %}

        {# <meta name="description" content="', $description, '"> #}
        {# <meta name="keywords" content="', $keywords, '"> #}

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&family=Faculty+Glyphic&family=Figtree:ital,wght@0,300..900;1,300..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Josefin+Sans&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <nav id="navbar">
            <div class="first-container">

                <a href="{{ path('home') }}" class="first-navlink navlinks {{ app.current_route == 'home' ? 'active' : ''}}" aria-label="Visit homepage" aria-current="page">Accueil</a>

                <div class="navlinks-container">
                    <a class="navlinks {{ app.current_route == 'presentation' ? 'active' : ''}}" href="{{ path('presentation') }}">L'OFNI</a>
                    <a class="navlinks {{ app.current_route == 'event.instance.index' ? 'active' : ''}}" href="{{ path('event.instance.index') }}">Événements</a>
                    <a class="navlinks {{ app.current_route == 'galerie' ? 'active' : ''}}" href="{{ path('galerie') }}">Galerie</a>
                    <a class="navlinks {{ app.current_route == 'shop' ? 'active' : ''}}" href="{{ path('shop') }}">Boutique</a>
                    <a class="navlinks {{ app.current_route == 'game' ? 'active' : ''}}" href="{{ path('game') }}">Jeu</a>

                    {% if app.user %}
                      <a class="navlinks {{ app.current_route == 'account' ? 'active' : ''}}" href="{{ path('app_account') }}">{{ app.user.pseudo }}</a>
                    {% else %}
                      <a class="navlinks {{ app.current_route == 'login' ? 'active' : ''}}" href="{{ path('app_login') }}">Connexion</a>
                    {% endif %}
                </div>

                <div class="main-navlinks">
                    <button class="hamburger" type="button" aria-label="Toggle navigation" aria-expanded="false">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                </div>
            </div>
        </nav>
        </header>



        <main>
            {% block main %}{% endblock %}
        </main>


        <div id="to-top-btn">
            <svg xmlns="http://www.w3.org/2000/svg" id="arrow-circle" viewBox="0 0 24 24" width="50" height="50"><path d="M12,24A12,12,0,1,0,0,12,12.013,12.013,0,0,0,12,24ZM12,2A10,10,0,1,1,2,12,10.011,10.011,0,0,1,12,2ZM6.293,10.879a1,1,0,0,0,1.414,0L11,7.587,11.007,18a1,1,0,0,0,2,0L13,7.586l3.293,3.293A1,1,0,1,0,17.731,9.49l-.024-.025L14.122,5.879a3,3,0,0,0-4.243,0h0L6.293,9.465A1,1,0,0,0,6.293,10.879Z"/></svg>
        </div>

        <footer>

            <svg class="svg-line" xmlns="http://www.w3.org/2000/svg">
                <path class="line" />
            </svg>

            <div class="footer-container">
                <div class="bloc">
                    <h3>Informations</h3>
                    <ul>
                        <li>
                            <p><span>Lieu: <br></span><a class="link footer-links" href="https://maps.app.goo.gl/EZCVWx7Nxz885AES8" target="_blank" rel="noopener">16 Route de Gray, 25000 Besançon</a></p>
                        </li>
                        <li>
                            <p><span>E-mail: <br></span><a class="link footer-links" href="mailto:contact@ofni.asso.fr?subject=Demande%20de%20renseignements&body=Bonjour%2C%20%0D%0A%0D%0AJe%20vous%20contacte%20pour...">contact@ofni.asso.fr</a></p>
                        </li>
                    </ul>
                </div>

                <div class="bloc">
                    <h3>Nos réseaux</h3>
                    <ul>
                        <li><a class="link footer-links" href="https://www.helloasso.com/associations/ofni-besancon" target="_blank" rel="noopener">HelloAsso</a></li>
                        <li><a class="link footer-links" href="https://discord.com/invite/KT6N2Q9cU5" target="_blank" rel="noopener">Discord</a></li>
                        <li><a class="link footer-links" href="https://www.instagram.com/ofni_off" target="_blank" rel="noopener">Instagram</a></li>
                        <li><a class="link footer-links" href="https://moodle.univ-fcomte.fr/course/view.php?id=9926" target="_blank" rel="noopener">Moodle</a></li>
                    </ul>
                </div>

                <div class="bloc">
                    <h3>Liens pratiques</h3>
                    <ul>
                        <li><a class="link footer-links" href="{{ url('home') }}">Accueil</a></li>
                        <li><a class="link footer-links" href="{{ url('presentation') }}">L'OFNI</a></li>
                        <li><a class="link footer-links" href="{{ path('event.instance.index') }}">Événements</a></li>
                        <li><a class="link footer-links" href="{{ path('galerie') }}">Galerie</a></li>
                        <li><a class="link footer-links" href="{{ path('shop') }}">Boutique</a></li>
                        <li><a class="link footer-links" href="{{ path('game') }}">Jeu</a></li>
                        {% if app.user %}
                            <a class="link footer-links" href="{{ path('app_account') }}">Mon compte</a>
                        {% else %}
                            <a class="link footer-links" href="{{ path('app_login') }}">Connexion</a>
                        {% endif %}
                        <li><a class="link footer-links" href="{{ path('app_legal') }}">Mentions légales</a></li>
                    </ul>
                </div>
            </div>

            <div class="footer-legal">
                <p>&copy; 2025 - OFNI - Tous droits réservés</p>
            </div>

            {% block javascripts %}
                <script src="{{ asset('js/app.js') }}" defer></script>
                <script src="{{ asset('js/line.js') }}" defer></script>
            {% endblock %}
        </footer>
    </body>
</html>
